.Diskovery {
  background: url(../../assets/banner.png) no-repeat;
  background-size: cover;
  max-height: 890px;
  margin-top: 190px;
  /* display: flex;
  justify-content: space-around;
  justify-content: center; */
  /* display: flex; */
  justify-content: center;
}
@media (max-with:1600px){
  .container{
    max-width: 991px;
  }
}

.Diskovery_title{
    margin-top: 83px;
}

.Diskovery_title > h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  padding: 55px;
  line-height: 69px;
  text-align: center;
  color: #e4b95b;
}

.Diskovery_title > p {
    text-align: center;
}


.Menu_coffees{
  padding: 50px;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn_disk>Button{
  border-radius: 20px;
  color: #f3a600;
}